[Desktop Entry]
Name=League of Legends
Comment=League of Legends Launcher
Type=Application
Exec=leagueoflegends launcher
Icon=leagueoflegends
Terminal=false
Categories=Wine;Game;
Actions=Client;killall;winecfg;

[Desktop Action killall]
Name=killall LoL Processes
Exec=leagueoflegends wineserver -k

[Desktop Action winecfg]
Name=run winecfg in LoL Prefix
Exec=leagueoflegends winecfg
