[Desktop Entry]
Name=League of Legends
Comment=League of Legends helper script
Type=Application
Exec=leagueoflegends start
Icon=leagueoflegends
Terminal=false
Categories=Wine;Game;
Actions=Client;killall;winecfg;

[Desktop Action killall]
Name=killall LoL Processes
Exec=leagueoflegends kill

[Desktop Action winecfg]
Name=run winecfg in LoL Prefix
Exec=leagueoflegends run winecfg
